
<style>
		
.Warning {
			Boleh Recode Asal Ada Nick Saya;
			Yaitu King Cracker Bila Tidak;
			W DOAIN Setelah Recode Lu Kesamber Petir;
			}
			
		.shake {
  font-weight:900;
  font-family: 'Pirata one', cursive;
  font-size:55px;
  margin:0 auto;
  font-weight:light;
  line-height:74px;
  color:red;
  text-align:center;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: tremble;

  -moz-animation-duration: 0.8s;
  -moz-transform-origin:50% 50%;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-name: tremble;

  -ms-animation-duration: 0.8s;
  -ms-transform-origin:50% 50%;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -ms-animation-name: tremble;

  -o-animation-duration: 0.8s;
  -o-transform-origin:50% 50%;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -o-animation-name: tremble;

  animation-duration: 0.8s;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: tremble;
  text-shadow: 5px 5px 0 #00FF06, 8px 8px  0 #F8FF00, 13px 13px 0 #D8C358, 20px 20px 0 #25271E;}

@-webkit-keyframes tremble {
 0% {-webkit-transform: translate(2px, 1px) rotate(0deg);}
 10% {-webkit-transform: translate(-1px, -2px) rotate(-1deg);}
 20% {-webkit-transform: translate(-3px, 0px) rotate(1deg);}
 30% {-webkit-transform: translate(0px, 2px) rotate(0deg);}
 40% {-webkit-transform: translate(5px, -1px) rotate(1deg);}
 50% {-webkit-transform: translate(-1px, 2px) rotate(-1deg);}
 60% {-webkit-transform: translate(-2px, 1px) rotate(0deg);}
 70% {-webkit-transform: translate(6px, 2px) rotate(-1deg);}
 80% {-webkit-transform: translate(-1px, -3px) rotate(1deg);}
 90% {-webkit-transform: translate(2px, 1px) rotate(0deg);}
 100% {-webkit-transform: translate(5px, -2px) rotate(-1deg);}}

@-moz-keyframes tremble {
 0% {-moz-transform: translate(2px, 1px) rotate(0deg);}
 10% {-moz-transform: translate(-1px, -2px) rotate(-1deg);}
 20% {-moz-transform: translate(-3px, 0px) rotate(1deg);}
 30% {-moz-transform: translate(0px, 2px) rotate(0deg);}
 40% {-moz-transform: translate(5px, -1px) rotate(1deg);}
 50% {-moz-transform: translate(-1px, 2px) rotate(-1deg);}
 60% {-moz-transform: translate(-2px, 1px) rotate(0deg);}
 70% {-moz-transform: translate(6px, 2px) rotate(-1deg);}
 80% {-moz-transform: translate(-1px, -3px) rotate(1deg);}
 90% {-moz-transform: translate(2px, 1px) rotate(0deg);}
 100% {-moz-transform: translate(5px, -2px) rotate(-1deg);}}

@keyframes tremble {
 0% {transform: translate(2px, 1px) rotate(0deg);}
 10% {transform: translate(-1px, -2px) rotate(-1deg);}
 20% {transform: translate(-3px, 0px) rotate(1deg);}
 30% {transform: translate(0px, 2px) rotate(0deg);}
 40% {transform: translate(5px, -1px) rotate(1deg);}
 50% {transform: translate(-1px, 2px) rotate(-1deg);}
 60% {transform: translate(-2px, 1px) rotate(0deg);}
 70% {transform: translate(6px, 2px) rotate(-1deg);}
 80% {transform: translate(-1px, -3px) rotate(1deg);}
 90% {transform: translate(2px, 1px) rotate(0deg);}
 100% {transform: translate(5px, -2px) rotate(-1deg);}}
 
.anim-blink {
  color: yellow;
  margin:0 auto;
  font-size: 55px;
  position: relative;}

@keyframes noise-anim {
  0% {clip: rect(3px, 9999px, 77px, 0);}
  5% {clip: rect(92px, 9999px, 90px, 0);}
  10% {clip: rect(20px, 9999px, 53px, 0);}
  15.0% {clip: rect(49px, 9999px, 67px, 0);}
  20% {clip: rect(98px, 9999px, 83px, 0);}
  25% {clip: rect(81px, 9999px, 18px, 0);}
  30.0% {clip: rect(79px, 9999px, 34px, 0);}
  35% {clip: rect(33px, 9999px, 33px, 0);}
  40% {clip: rect(3px, 9999px, 48px, 0);}
  45% {clip: rect(30px, 9999px, 65px, 0);}
  50% {clip: rect(59px, 9999px, 34px, 0);}
  55.0% {clip: rect(59px, 9999px, 70px, 0);}
  60.0% {clip: rect(22px, 9999px, 49px, 0);}
  65% {clip: rect(1px, 9999px, 51px, 0);}
  70% {clip: rect(76px, 9999px, 88px, 0);}
  75% {clip: rect(49px, 9999px, 75px, 0);}
  80% {clip: rect(74px, 9999px, 84px, 0);}
  85.0% {clip: rect(95px, 9999px, 76px, 0);}
  90% {clip: rect(97px, 9999px, 1px, 0);}
  95% {clip: rect(91px, 9999px, 89px, 0);}
  100% {clip: rect(15px, 9999px, 17px, 0);}}

.anim-blink:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -3px 5px #BD003E;
  top: 0;
  color: yellow;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;}

@keyframes noise-anim-2 {
  0% {clip: rect(99px, 9999px, 75px, 0);}
  5% {clip: rect(27px, 9999px, 55px, 0);}
  10% {clip: rect(2px, 9999px, 33px, 0);}
  15.0% {clip: rect(75px, 9999px, 57px, 0);}
  20% {clip: rect(12px, 9999px, 84px, 0);}
  25% {clip: rect(98px, 9999px, 13px, 0);}
  30.0% {clip: rect(50px, 9999px, 25px, 0);}
  35% {clip: rect(70px, 9999px, 48px, 0);}
  40% {clip: rect(71px, 9999px, 8px, 0);}
  45% {clip: rect(8px, 9999px, 99px, 0);}
  50% {clip: rect(11px, 9999px, 2px, 0);}
  55.0% {clip: rect(33px, 9999px, 49px, 0);}
  60.0% {clip: rect(74px, 9999px, 86px, 0);}
  65% {clip: rect(52px, 9999px, 62px, 0);}
  70% {clip: rect(30px, 9999px, 88px, 0);}
  75% {clip: rect(46px, 9999px, 14px, 0);}
  80% {clip: rect(86px, 9999px, 68px, 0);}
  85.0% {clip: rect(42px, 9999px, 24px, 0);}
  90% {clip: rect(91px, 9999px, 57px, 0);}
  95% {clip: rect(57px, 9999px, 60px, 0);}
  100% {clip: rect(78px, 9999px, 67px, 0);}}

.anim-blink:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 3px 5px #0023FF;
  top: 0;
  color: yellow;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;}
  
.scram
       {
        font-family: 'Metal Mania', cursive;
        font-size: 82px;
        }
.vale 
       {
        font-family: 'New Rocker', cursive;
        font-size: 80px;
        }

.quotes {
 position: relative;
 font-family: 'Bahianita', cursive;
 text-transform: uppercase;
 font-size: 36px;
 letter-spacing: 6px;
 overflow: hidden;
 background: linear-gradient(90deg, #FFFFFF, #F5FF00, #81FF00, #FF0035, #FF00FA, #BA00FF);
 background-repeat: no-repeat;
 background-size: 80%;
 animation: animate 3s linear infinite;
 -webkit-background-clip: text;
 -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
 0% {
   background-position: -500%;
 }
 100% {
   background-position: 500%;
 }
}
.butt 
      {
       color: white;
       background: #484b4f;
       height: 36px;
       width: 90px;
       }
.greetz 
       {
        font-family: 'Righteous', cursive;
        font-size: 34px;
        }
.mark
      {
        font-family: 'Audiowide', cursive;
        font-size: 32px;
        }
   
     </style>
